// COLORS
$color-primary: #50a3ae;
$color-primary-light:#c3fdff;
$color-primary-dark: #2d4a61;

$color-secondary: #d81b60;
$color-secondary-light: #ff5c8d;
$color-secondary-dark: #a00037;

$color-grey-light-1: #f4f4f4;
$color-grey-light-2: #eee;

$color-grey-dark: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;


$color-white: #fff;
$color-black: #000;

$default-font: 'Poiret One';
$second-font: 'Lora';