// COLORS
$color-primary: #50a3ae;
$color-primary-light: #c3fdff;
$color-primary-dark: #2d4a61;

$color-secondary: #e22b6e;
$color-secondary-light: #ecc7d2;
$color-secondary-dark: #750c31;

$color-gray-light-1: #ccc;
$color-gray-light-2: #eee;
$color-gray-light-3: #f4f4f4;

$color-gray-dark: #999;
$color-gray-dark-2: #777;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$default-font: "Poiret One";
$second-font: "Lora";

$bp-mobile: 600px;
$bp-tablet: 900px;
$bp-desktop: 1200px;
$bp-large: 1800px;
