.card {
    display: flex;
    flex-direction: column;
    background-color: rgba($color-primary, 0.6);
    padding: 2rem;
    box-shadow: 0.5rem 1rem 2rem rgba($color-primary-dark, $alpha: 0.7);

    &__img {
        width: 100%;
        opacity: 0.7;
        border: 1px solid $color-primary-light;
        box-shadow: 0.3rem 0.7rem 1rem rgba($color-black, 0.7);
    }

    &__pages {
        margin: 5rem 0;

        & a {
            display: block;
            width: 70%;
            margin: 2rem auto;
        }
    }
}
