.showcase__design {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));

    &--first,
    &--second {
        padding: 5rem;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 10vw);
    }

    &--img {
        display: block;
        width: 100%;
        box-shadow: 0.5rem 0.5rem 1rem rgba($color-black, 0.5);
        border-radius: 2px;
        z-index: 10;
        transition: all 0.2s;
        outline-offset: 0.8rem;

        &:hover {
            outline: 1rem solid $color-secondary;
            transform: scale(1.04) translateY(-5rem);
            box-shadow: 0.5rem 0.5rem 1rem rgba($color-black, 0.5);
            z-index: 20;
        }
    }

    &--1 {
        grid-column: 1 /4;
    }
    &--2 {
        grid-column: 2 /5;
    }
    &--7 {
        grid-column: 3 /6;
    }

    &--3 {
        grid-column: 1 /4;
    }
    &--4 {
        grid-column: 2 /5;
    }
    &--5 {
        grid-column: 3 /6;
    }
    &--6 {
        grid-column: 4 /7;
    }

    &:hover &--img:not(:hover) {
        transform: scale(0.98);
    }
}
