* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-size: 1.6rem;
    line-height: 1.6;
    scroll-behavior: smooth;
}

.container {
    max-width: 190rem;

    background-color: $color-gray-light-2;
    display: grid;
    grid-template-columns:
        [full-start] minmax(6rem, 1fr) [center-start]repeat(
            11,
            [col-start] minmax(min-content, 20rem) [col-end]
        )
        [center-end] minmax(6rem, 1fr) [full-end];
}
