.breaking-line {
    height: 2px;
    width: 40%;
    background-color: rgba($color: $color-primary-light, $alpha: 0.5);
    margin-bottom: 1rem;
}

a {
    font-family: $default-font;
    text-decoration: none;
    color: $color-primary-light;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: 700;

    &:hover {
        color: $color-secondary-dark;
    }
}
