.about {
    grid-column: full-start / full-end;
    margin: 5rem 0;
    height: 95vh;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

    &__left {
        padding: 2rem;
        background-color: rgba($color-primary, 0.6);      
        display: grid;
        justify-items: center;
        align-items: center;

        &--picture {
            width: 50%;
        }
    }

    &__right {
        padding: 10rem 15rem;
        background-color: $color-grey-light-2;

        &--heading {
            margin-bottom: 8rem;
        }

        &--text {
            text-indent: 3rem;
            margin: 1rem 0;
        }
    }
}