.about {
    grid-column: full-start / full-end;
    margin: 5rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));

    &__left {
        padding: 2rem;
        background-image: linear-gradient(to bottom, (rgba($color-grey-light-1, .5)), rgba($color-primary, .3)) ;      
        display: grid;
        justify-items: center;
        align-items: center;

        &--picture {
            width: 50%;
        }
    }

    &__right {
        padding: 10rem 15rem;
        background-color: $color-grey-light-1;

        &--heading {
            margin-bottom: 8rem;
        }

        &--text {
            text-indent: 3rem;
            margin: 1rem 0;
        }
    }
}