.cv {
    grid-column: full-start / full-end;
    margin: 4rem auto;
    display: grid;
    grid-template-rows: 10rem 1fr;
}

.timeline {
    &__heading {
        font-family: $second-font;
        font-size: 2rem;
        text-transform: none;
        text-decoration: underline;
    }

    &__span {
        font-weight: bold;
    }

    &__text {
        display: flex;
        align-items: center;

        & a {
            color: $color-primary-dark;
            font-weight: 700;

            &:hover {
                color: $color-secondary;
            }
        }
    }

    &__icon {
        font-size: 1.4rem;
        text-align: center;
        color: $color-secondary-dark;
    }

    &__list {
        padding: 5rem 0;

        &--item {
            list-style: none;
            position: relative;
            width: 1rem;
            margin: 0 auto;
            padding-top: 5rem;
            background-color: $color-secondary;

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 3rem;
                height: 3rem;
                background-color: $color-secondary;
                transform: translateX(-50%);
                border-radius: 50%;
                transition: background-color 0.5s ease-in-out;
            }

            &:nth-child(odd) div {
                left: 4rem;
                transform: translateX(15rem);

                &:before {
                    left: -1.5rem;
                    border-width: 1rem 1.5rem 1rem 0;
                    border-color: transparent $color-primary transparent
                        transparent;
                }
            }

            &:nth-child(even) div {
                left: -73rem;
                transform: translateX(-15rem);

                &:before {
                    right: -1.5rem;
                    border-width: 1rem 0 1rem 1.5rem;
                    border-color: transparent transparent transparent
                        $color-primary;
                }
            }
        }

        &--item.show div {
            transform: none;
            visibility: visible;
            opacity: 1;
        }

        &--item.show:after {
            background-color: $color-primary;
        }

        &--box {
            border: 2px solid $color-primary;
            position: relative;
            bottom: 0;
            width: 70rem;
            padding: 1rem;
            background-color: rgba($color-primary, 0.7);
            box-shadow: 0 2rem 4rem rgba($color-black, 0.5);
            transition: all 0.5s ease-in-out;
            visibility: hidden;
            opacity: 0;

            &::before {
                content: "";
                position: absolute;
                bottom: 0.5rem;
                width: 0;
                height: 0;
                border-style: solid;
            }
        }
    }
}

.certificat {
    width: 32%;
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.4);
    border-radius: 2px;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 2rem;

    &:hover {
        outline: 1.5rem solid $color-secondary;
        transform: scale(2) translateY(-5rem);
        box-shadow: 0 0.25rem 4rem rgba($color-black, 0.5);
        z-index: 20;
    }

    &:not(:hover) {
        transform: scale(0.9);
    }
}

@media screen and (max-width: $bp-large) {
    .timeline__text {
        font-size: 1.5rem;
        line-height: 1;
        margin-top: 0.5rem;
    }

    .timeline__list {
        &--item {
            &:nth-child(even) div {
                left: -58rem;
            }
        }

        &--box {
            width: 55rem;
        }
    }
}

@media screen and (max-width: $bp-desktop) {
    .timeline__text {
        font-size: 1.2rem;
    }

    .timeline__list {
        &--item {
            &:nth-child(even) div {
                left: -48rem;
            }
        }

        &--box {
            width: 45rem;
        }
    }
}

@media screen and (max-width: $bp-tablet) {
    .timeline__list {
        &--item {
            margin-left: 2rem;

            &:nth-child(even) div {
                left: 4rem;
            }

            &:nth-child(even) div {
                &:before {
                    left: -1.5rem;
                    border-width: 1rem 1.5rem 1rem 0;
                    border-color: transparent $color-primary transparent
                        transparent;
                }
            }
        }
    }
}

@media screen and (max-width: $bp-mobile) {
    .timeline__list {
        &--item {
            margin-left: 2rem;

            &:nth-child(even) div {
                left: 4rem;
            }
        }

        &--box {
            width: calc(100vw - 190px);
        }
    }
}
