.cv {
    grid-column: full-start / full-end;
    padding: 8rem 4rem;
    margin: 10rem;
    display: grid;
    grid-template-rows: 10rem 1fr;

    justify-items: center;
    align-items: center;
}

.timeline {

    //width: 10px;
    background-color: $color-primary;
    
    

    &__boxes {
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1rem 1.5rem 1rem 1fr;
        grid-template-rows: repeat(6, minmax(20rem, min-content));
        grid-gap: 1rem;

        justify-items: center;
        align-items: center;

        &--1 {
            display: grid;
            grid-column: 1 / 2;
            grid-row: 1;
        }
        &--2 {
            display: grid;
            grid-column: 5 / 6;
            grid-row: 2;
        }
        &--3 {
            display: grid;
            grid-column: 1 / 2;
            grid-row: 3;
        }
        &--4 {
            display: grid;
            grid-column: 5 / 6;
            grid-row: 4;
        }
        &--5 {
            display: grid;
            grid-column: 1 / 2;
            grid-row: 5;
        }
    }
}