.cv {
    grid-column: full-start / full-end;
    padding: 8rem 4rem;
    margin: 12rem 1rem;
    display: grid;
    grid-template-rows: 10rem 1fr;

    justify-items: center;
    align-items: center;

    border: 1rem solid $color-primary;
}

.timeline {

    &__heading {
        font-family: $second-font;
        font-size: 2rem;
        text-transform: none;
        text-decoration: underline;
    }

    &__span {
        font-weight: bold;
    }

    &__text {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    &__icon {
        font-size: 1.6rem;
        text-align: center;
        color: $color-secondary-dark;
    }
    
    &__list {
        padding: 5rem 0;

        &--item {
            list-style: none;
            position: relative;
            width: 1rem;
            margin: 0 auto;
            padding-top: 5rem;
            background-color: $color-secondary;

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 3rem;
                height: 3rem;
                background-color: $color-secondary;
                transform: translateX(-50%);
                border-radius: 50%;
                transition: background-color .5s ease-in-out;
               
            }

            &:nth-child(odd) div {
                left: 4rem;
                transform: translateX(15rem);

                &:before {
                    left: -1.5rem;
                    border-width: 1rem 1.5rem 1rem 0;
                    border-color: transparent $color-primary transparent transparent;
                }
            }

            &:nth-child(even) div {
                left: -73rem;
                transform: translateX(-15rem);

                &:before {
                    right: -1.5rem;
                    border-width: 1rem 0 1rem 1.5rem;
                    border-color: transparent  transparent transparent $color-primary;
                }
            }
        }

        &--item.show div {
            transform: none;
            visibility: visible;
            opacity: 1;
        }

        &--item.show:after {
            background-color: $color-primary;
        }
        
        &--box {
            border: 2px solid $color-primary;
            position: relative;
            bottom: 0;
            width: 70rem;
            padding: 2rem;
            background-color: rgba($color-primary, .7);
            box-shadow: 0 2rem 4rem rgba($color-black, .5);
            transition: all .5s ease-in-out;  
            visibility: hidden;
            opacity: 0;
           
            &::before {
                content: '';
                position: absolute;
                bottom: .5rem;
                width: 0;
                height: 0;
                border-style: solid;
            }
        }
    }
}

.certificat {
    width: 32%;      
    box-shadow: 0 .5rem 1rem rgba($color-black, .4);
    border-radius: 2px;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;

    &:hover {
        outline: 1.5rem solid $color-secondary;
        transform: scale(2) translateY(-5rem);
        box-shadow: 0 .25rem 4rem rgba($color-black, .5);
        z-index: 20;
    }

    &:not(:hover) {
        transform: scale(.9)
    }
}

