.footer {
    grid-column: full-start / full-end;
    background-image: linear-gradient(to bottom, (rgba($color-primary, .3)), (rgba($color-primary-dark, 1.0)));
    padding: 3rem;
    border-top: 1px solid rgba($color-grey-light-3, .2);

    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    
    &__nav {
        display: grid;
        grid-template-columns: repeat(4, minmax(min-content, 1fr));
        
        justify-items: center;
        align-items: flex-end;
        padding: 4rem;

        &--item {

          
        }
    }

    &__link {
        font-size: 2.5rem;
        font-weight: 700;
        color: $color-primary-light;
        border-bottom: 2px solid transparent;

        &:hover {
            color: $color-secondary-dark;
            border-bottom: 2px solid $color-secondary-dark;
        }
    }
}