.header {
    grid-column: full-start / full-end;
    background-image: linear-gradient(
            to bottom,
            (rgba($color-primary, 0.7)),
            (rgba($color-primary, 0.3))
        ),
        url(../img/hero2.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr minmax(35rem, max-content);

    &__nav {
        grid-column: 2;
        width: 100%;
        background-color: rgba($color-primary-light, 0.3);
        box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, 0.2);

        &--items {
            list-style: none;
            margin: 1.5rem 2rem;
            border-radius: 5px;
            background-color: rgba($color-white, 0.3);
            box-shadow: 0rem 0.2rem 0.5rem rgba($color-black, 0.5);
        }

        &--link {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $color-secondary;
            letter-spacing: 0.5rem;
            text-transform: uppercase;
            text-align: center;
            font-size: 3rem;
            font-weight: 700;
            border-bottom: 2px transparent solid;
            border-top: none;
            transition: border-color 0.5s;

            &:hover,
            &.current {
                cursor: pointer;
                background-color: $color-secondary-dark;
                color: $color-primary-light;
                border-radius: 5px;
                border-color: $color-secondary-light;
            }
        }

        &--icon {
            margin-right: 2rem;
            color: $color-primary-dark;
        }
    }

    &__info {
        display: grid;
        justify-items: center;
        align-items: center;

        &--user {
            width: 16rem;
            height: 16rem;
            border: 2px $color-secondary solid;
            border-radius: 100px;
            margin: 1.5rem 0;
        }
        &--text {
            width: 100%;
            padding: 1rem 0;
            font-weight: 700;
            background-color: $color-primary-light;
            box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.3);
        }
    }

    &__span {
        letter-spacing: 0.4rem;
        color: $color-secondary-light;

        &--js {
            color: $color-secondary;
            margin-left: 1rem;
        }
    }
}

@media screen and (max-width: $bp-desktop) {
    .header__info {
        &--user {
            width: 12rem;
            height: 12rem;
        }
    }

    .header__nav {
        &--link {
            font-size: 2rem;
        }
    }
}

@media screen and (max-width: $bp-large) {
    .header__nav {
        &--items {
            margin: 1.3rem 2rem;
        }

        &--link {
            font-size: 2.5rem;
        }
    }
}
