.header {
    grid-column: full-start / full-end;
    background-image: linear-gradient(to right bottom, (rgba($color-primary-light, .5)),(transparent)),
    url(../img/showcase.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: minmax(20rem, max-content) 1fr;

    &__background {
        grid-column: 1;
        background-image: linear-gradient(to right, (rgba($color-primary-light, .7)), (transparent));
        box-shadow: 1rem 0rem 2rem rgba($color-black, .2);

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        justify-items: center;
        align-items: center;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        grid-column-gap: 1rem;
        justify-self: stretch;  
                  
        &--logo {
            width: 10rem;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__nav {
        display: grid;
        margin: 2rem 0;     
        padding: 0 4rem;  
        
        &--items {
            list-style: none;
            font-size: 2.5rem;
            letter-spacing: .5rem;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 1rem;
            border-radius: 5px;
            background-color: rgba($color: $color-white, $alpha: .1);
            box-shadow: 0rem .5rem 2rem rgba($color-black, .2);
        }

        &--link {
            display: flex;
            justify-content: center;
            align-items: center;
            
            text-decoration: none;
            padding: .5rem;
            color: $color-secondary;
            font-size: 3rem;
            font-weight: 700;
            border-bottom: 2px transparent solid; 
            border-top: none;
            transition: border-color 0.5s;

            &:hover {
                cursor: pointer;
                background-color: rgba($color-primary, $alpha: .3);
                color: $color-primary-dark;
                border-radius: 5px;
                border-color: $color-secondary;
            }

            &.current {
                background-color: rgba($color-primary, $alpha: .3);
                color: $color-primary-dark; 
            }
        }

        &--icon {
            margin-right: 2rem;
            color: $color-primary-dark ;
        }
    }

    &__info {
        display: grid;
        justify-items: center;
        align-items: center;

        &--user {
            width: 16rem;
            border: 2px $color-secondary solid;
            border-radius: 100px;
            margin-top: 1.5rem; 
        }
        &--text {
            margin: 0 4rem;
            font-size: 1.8rem;
        }
    }
    
    &__span {
        color: $color-secondary;
        font-size: 3rem;
        letter-spacing: .4rem;
        margin-bottom: 1rem;

        &--js {
            color: $color-secondary;
            margin-left: 1rem;
        }
    }
}


