.projects {
    grid-column: full-start / full-end;
    margin: 2rem 0;

    display: grid;
    grid-template-rows: repeat(auto-fit, max-content);
    justify-items: center;
    align-items: center;

    &__heading {
        display: grid;
        margin: 3rem 0;
        font-size: 5rem;
    }

    &__table {
        display: grid;
        grid-row: 2;
        padding: 4rem 2rem;

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        grid-gap: 2rem;

        &--interest {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 2rem;

            box-shadow: 0rem 1rem 1.5rem rgba($color-black, 0.3);
            background-color: $color-gray-light-3;

            &:nth-child(odd) {
                background-color: rgba($color-primary-light, 0.3);
            }
        }

        &--icons {
            font-size: 10rem;
            margin: 5rem 0;
            padding: 2rem;
            border: 2px solid $color-secondary;
            border-radius: 50%;
            background-color: rgba($color-primary, 0.8);
            box-shadow: 0.5rem 0.5rem 1rem rgba($color-black, 0.5);
        }
        &--name {
            color: $color-primary-dark;
        }

        &--text {
            text-indent: 3rem;
            padding: 1rem;
        }
    }
}
