.showcase {
    grid-column: full-start / full-end;

    &__photography {
        background-color: $color-white;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(9, 7vw);
        padding: 1rem;
        grid-gap: 1rem;
        margin: 6rem 0;
    }   

    &__webdev {
        padding: 8rem 4rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        grid-gap: 4rem;
    }   

    &__design {
        padding: 3rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        grid-gap: 4rem;

        position: relative;

    }   

    &__title {
        display: grid;
        margin: 10rem 0 4rem 0;
        font-size: 4rem;
    }
}



